body {
  width: 80%;
  margin: auto;
  background-image: url("http://d56b293rhv8dp.cloudfront.net/locations/9/cover_images/original/shutterstock_95925931.jpg?1470842369");
  background-size: cover;
}

img {
  width: 80%;
  max-width: 400px;
  max-height: 200px;
  box-shadow: 5px 5px 4px #8b1d6b;

}

h2 {
  color: #ff6cd4;
  text-shadow: 2px 1px #8b1d6b;
  margin: 10px 10px 0px 10px;
  font-size: 25px;
}

footer {
  height: 55px;
  margin: 25px;
  text-align: right;
  color: white;
  font-weight: bolder;
  font-family: 'Patua One';
  text-shadow: 2px 1px #8b1d6b;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.header {
  color: #1a7881;
  font-family: 'Patua One';
  text-shadow: 2px 2px #f2f2f2;
  font-size: 37px;
}

.restaurant {
  flex: 1 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

@media all and (min-width: 500px) {
  .header { flex: 100%; }
  .double_row { flex: 50%; }
  .triple_row { flex: 33%; }
}



#casa { order: 1; }
#marine { order: 2; }
#whisknladle { order: 3; }
#mister { order: 4; }
#cucina { order: 5; }
#sushi { order: 6; }
#tender { order: 7; }
#anthony { order: 8; }
#clevel { order: 9; }
#prado { order: 10; }
